@()

@WebAdminTempl("Login") {
	@helper.form(action = routes.Admin.processLogin()) {
		<input type="text" name="username" />
		<input type="password" name="pass" />
		<button type="submit">Login</button>
	}
}