@(prevQueryResult: Option[Either[
	org.neo4j.cypher.ExecutionResult,
	org.neo4j.cypher.SyntaxException]] = None)

@*Include the implicit twitter bootstrap field constructor.*@
@import helper.twitterBootstrap._


@headers = {
	<style type="text/css">
		.query-textarea {
			font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
		}
		
		#query-results {
			border: solid 2px #006;
			background: #AAF;
			padding: 10px;
		}
		
		#query-syntax-error {
			border: solid 2px #A00;
			background: #FAA;
			padding: 10px;
		}
	</style>
}

@WebAdminTempl("Main", headers){
	<h3>Hello Pouria</h3>
	
	@helper.form(action = routes.Admin.executeCypher()) {
		<textarea name="query" rows="10" class="input-xxlarge query-textarea"></textarea><br/>
		<button type="submit" class="btn btn-success">Run</button>
	}
	
	@prevQueryResult match {
	  case Some(Left(res)) => {
	  	<div id="query-results">
	  		Results: <br/><br/>
	  		@cypherResult(res)
	  	<div>
	  }
	  case Some(Right(syntaxErr)) => {
	  	<div id="query-syntax-error">
		  	Syntax Error: <br/><br/>
		  	@syntaxErr.getMessage  	
	  	</div>
	  }
	  case None => {}
	}
}