@(form: play.api.data.Form[controllers.UserRegistration.RegistrationForm], recaptchaPubKey: String)

@*Include the implicit twitter bootstrap field constructor.*@
@import helper.twitterBootstrap._

@clientSideTempl("Sign Up!") {
	@if(form.hasGlobalErrors) {
		Please fix the following error(s):<br/>
		@for(error <- form.globalErrors) {
			@error.message
			<br/>
		}
	}
	
	@recaptchaWidgetPreparationBeforeForm()
	
	@helper.form(action = routes.UserRegistration.processForm) {
		@helper.inputText(form("username"),
			'required -> true, '_showConstraints -> false, '_label -> "Username", 'pattern -> UserRegistration.usernameRegexString ,'title -> UserRegistration.usernameValidationDescription)
		@helper.inputPassword(form("password"),
			'type -> "password", 'required -> true , '_showConstraints -> false, '_label -> "Password", 'pattern -> ".{6,}", 'title -> "You need at least 6 characters here!")
		@helper.inputPassword(form("password-confirm"),
			'type -> "password", 'required -> true , '_showConstraints -> false, '_label -> "Password (Re-type)",'pattern -> ".{6,}", 'title -> "You need at least 6 characters here!")
		@recaptchaWidget(recaptchaPubKey)
		
		<button type="submit" class="btn btn-large btn-success" style="margin-top:10px">Sign Me Up!</button>
	}
}